*{
    margin: 5px;
}
.profileCard {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
    width: 220px;
    justify-content: space-around;
    margin: 10px;
}


.profileCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
    border-radius: 5px 5px 0 0;
    width: 200px;
    padding: auto;

}

.profileCard__links {
    display: flex;    
    margin: 2px;
    padding: 0 10px 0 px;
    justify-content: space-evenly;
    margin: 0 30px;
}
